[submodule "Engine/external/glm"]
	path = Engine/external/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/external/glfw"]
	path = Engine/external/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/external/spdlog"]
	path = Engine/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/external/imgui"]
	path = Engine/external/imgui
	url = https://github.com/ocornut/imgui
[submodule "Opium/external/imgui"]
	path = Opium/external/imgui
	url = https://github.com/yatiyr/imgui
[submodule "Opium/external/glfw"]
	path = Opium/external/glfw
	url = https://github.com/yatiyr/glfw
[submodule "Opium/external/spdlog"]
	path = Opium/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Opium/external/glm"]
	path = Opium/external/glm
	url = https://github.com/g-truc/glm
[submodule "Opium/external/yaml-cpp"]
	path = Opium/external/yaml-cpp
	url = https://github.com/yatiyr/yaml-cpp
[submodule "Opium/external/ImGuizmo"]
	path = Opium/external/ImGuizmo
	url = https://github.com/yatiyr/ImGuizmo
[submodule "Opium/external/imgui-node-editor"]
	path = Opium/external/imgui-node-editor
	url = https://github.com/yatiyr/imgui-node-editor
[submodule "Opium/external/IconFontCppHeaders"]
	path = Opium/external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Opium/external/box2d"]
	path = Opium/external/box2d
	url = https://github.com/yatiyr/box2d.git
[submodule "Opium/external/assimp"]
	path = Opium/external/assimp
	url = https://github.com/yatiyr/assimp.git
[submodule "OP/external/yaml-cpp"]
	path = OP/external/yaml-cpp
	url = https://github.com/yatiyr/yaml-cpp.git
[submodule "OP/external/imgui"]
	path = OP/external/imgui
	url = https://github.com/yatiyr/imgui.git
[submodule "OP/external/box2d"]
	path = OP/external/box2d
	url = https://github.com/yatiyr/box2d.git
[submodule "OP/external/ImGuizmo"]
	path = OP/external/ImGuizmo
	url = https://github.com/yatiyr/ImGuizmo.git
[submodule "OP/external/glfw"]
	path = OP/external/glfw
	url = https://github.com/yatiyr/glfw.git
[submodule "OP/external/glm"]
	path = OP/external/glm
	url = https://github.com/yatiyr/glm.git
