build
out
.vs/
bin
bin-int
.vscode
ConfigureScripts/__pycache__

**.log
**.sln
**.vcxproj
**.csproj
**.vcxproj.filters
**.csproj.filters
**.vcxproj.user
**.csproj.user


**/**.log
**/**.sln
**/**.vcxproj
**/**.vcxproj.filters
**/**.vcxproj.user

Tools/Opium_Editor/assets/cache